* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #9ab4d6;
}
header {
  font-family: "Lobster Two", cursive;
  background-color: #586b8a;
  padding-bottom: 20px;
  color: black;
  padding-top: 40px;
}
header h2 {
  font-size: 40px;
}
header nav ul {
  display: flex;
  float: right;
  margin: 0px 20px;
}
.weather{
  width: 250px; 
  height: 100px; 
  border: 3px solid #555;
  background: white;
}
header nav ul li {
  text-decoration: none;
  margin-right: 60px;
  font-size: 29px;
  margin-top: -40px;
  list-style: none;
}
header nav section i {
  font-size: 40px;
}
header a,
a:visited,
a:active,
a:hover {
  color: black;
  text-decoration: none;
}
.container {
  font-family: "Lobster Two", cursive;
  font-size: 1.7em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  margin-left: 150px;
}
button {
  font-family: "Lobster Two", cursive;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 440px;
  background-color: white;
}
input,
textarea {
  width: 70vh;
  height: 5vh;
  border: solid 2px black;
}
fieldset {
  padding-right: 2vw;
  padding-left: 2vw;
  padding-bottom: 1vw;
  width: 550px;
  border: solid 2px black;
}
#group-cards {
  display: grid;
  margin-top: 30px;
  margin-bottom: 130px;
  height: 30vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card {
  display: flex;
  flex-direction: column;
 margin: 2vw;
  border: solid 2px black;
  background-color: white;
}
.card-order {
  margin-top: 100px;
  height: 400px;
  width: 480px;
  margin-left: 2vw;
  margin-right: 2vw;
  border: solid 2px black;
  background-color: white;
}
.card-order h3,
#values {
  margin-top: 10px;
  margin-left: 20px;
}
.card-order h5 {
  margin-left: 12px;
}
.card-order #value_order {
  margin-left: 30px;
  margin-top: 10px;
}
.card-order .order {
  margin-left: 30px;
  margin-top: 15px;
}
.card p,
h1 {
  font-family: "Lobster Two", cursive;
  font-size: 23px;
}
.card h4 {
  font-family: "Lobster Two", cursive;
  font-size: 23px;
  margin-left: 330px;
}
.card img {
  width: 280px;
  height: 160px;
}
#restaurant{
  width: 70vh;
  height: 32px;
  border: solid 2px black;
}