*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9ab4d6;
}
header{
    font-family: 'Lobster Two', cursive;
    background-color: #586b8a;
    padding-bottom: 20px;
    color: black;
}
header h2{
    font-size: 40px;
}
header nav ul{
    display: flex;
    float: right;
    margin: 0px 20px;
}
header nav ul li{
    text-decoration: none;
    margin-right: 60px;
    font-size: 29px;
    margin-top: -40px;
    list-style: none;
}
header nav section i {
    font-size:40px;
}
header a, a:visited , a:active, a:hover{
    color:black;
    text-decoration: none;
}
main h2{
    padding: 0;
    margin: 0;
    font-size: 2.8rem;
    font-family: 'Lobster Two', cursive;   
}
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 4vw);
    grid-gap: 15px;
    padding-top: 20px;
    background-color: black;
}
main .about-dish{
    display: grid;
}
main .about-dish div{
    padding: 2vw;
    background-color: white;
    margin: 2vw;
    font-size: 1.7rem;
    font-family: 'Lobster Two', cursive;   
    border: solid 5px black;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery__item--3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}