*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9ab4d6;
}
header{
    font-family: 'Lobster Two', cursive;
    background-color: #586b8a;
    padding-bottom: 20px;
    color: black;
}
header h2{
    font-size: 40px;
}
header nav ul{
    display: flex;
    float: right;
    margin: 0px 20px;
}
header nav ul li{
    text-decoration: none;
    margin-right: 60px;
    font-size: 29px;
    margin-top: -40px;
    list-style: none;
}
header nav section i {
    font-size:40px;
}
